[submodule "./uart_hoverboard/hoverboard-firmware-hack/"]
	url = git@github.com:lucysrausch/hoverboard-firmware-hack.git
[submodule "./hoverboard-firmware-hack/"]
	url = git@github.com:lucysrausch/hoverboard-firmware-hack.git
