[submodule "hoverboard-firmware-hack"]
	path = hoverboard-firmware-hack
	url = https://github.com/lucysrausch/hoverboard-firmware-hack.git
[submodule "hoverboard-firmware-hack-FOC"]
	path = hoverboard-firmware-hack-FOC
	url = https://github.com/EFeru/hoverboard-firmware-hack-FOC.git
